<header class="header">
<img src="../../assets/images/Group 8.png">
<h3 class="why">Why Us?</h3>
<h3 class="marketing">Marketing Platform</h3>
<h3 class="pricing">Pricing</h3>
<button  type="button" class="button">SignUp.It's Free</button>

</header>
<body>
    <div class="content">
        <div >
            <h1>We Take Care <br>Marketing <br>things</h1>
<button mat-raised-button class="pickbutton">Pick a Plan</button>  
<div class="module">
    <svg width="250px" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <line  stroke-linecap="butt"  x1="20" x2="250" y1="80" y2="0" />
  </svg>
  </div>      
</div>

    <img src="../../assets/images/Illustration.png">

    </div>
    <div class="contentbox">
    <div class="icon">
        <mat-icon  class="maximize" style="color:#4099F1">maximize</mat-icon>

        <h4 class="blog">BLOG</h4>
        

    </div>
    <div class="explore">
        <h3 class="tips">Explore Marketing Tips</h3>
        <mat-icon class="westicon" style="color:#4099F1">west</mat-icon>

        <mat-icon class="easticon" style="color:#4099F1">east</mat-icon>


    </div>
<div class="boxmodel">
<div class="box">
    <img src="../../assets/images/Mask Group 1.png">
    <div class="profile">
        <img src="../../assets/images/Ellipse 24.png">
        <h3>John Doe</h3>

    </div>
    <h4 class="title">Tips for a Good Pitching <br>Presentation</h4>
    <p class="description">Far far away, behind the word mountains,<br> far from the countries Vokalia and Consonantia.</p>
</div>
<div class="box">
    <img src="../../assets/images/Mask Group 2.png">
    <div class="profile">
        <img src="../../assets/images/Ellipse 25.png">
        <h3>Jane Maria</h3>

    </div>
    <h4 class="title">Improve Your Content’s<br> Traffic</h4>
    <p class="description">Far far away, behind the word mountains,<br> far from the countries Vokalia and Consonantia.</p>
</div>
<div class="box">
    <img src="../../assets/images/Mask Group 3.png">
    <div class="profile">
        <img src="../../assets/images/Ellipse 26.png">
        <h3>Jack Dorsey</h3>

    </div>
    <h4 class="title">Reaching Deal with your <br>Clients</h4>
    <p class="description">Far far away, behind the word mountains,<br> far from the countries Vokalia and Consonantia. </p>
</div>
</div>
</div>
</body>
<footer class="footer">
    <div class="contentbox">

        <img src="../../assets/images/Group 8.png">
    <h3 class="terms">Terms & Condition</h3>
    <h3 class="terms">Privacy Policy</h3>
    <h3 class="copyright">® 2019 Company name. All rights reserved.</h3>
    </div>

</footer>


